---
language: python
python: "2.7"
sudo: required

env:
  - ANSIBLE_VERSION=latest

# Install ansible
addons:
  apt:
    packages:
    - python-pip

install:
  # Install ansible
  - if [ "$ANSIBLE_VERSION" = "latest" ]; then pip install ansible; else pip install ansible==$ANSIBLE_VERSION; fi

  # Check ansible version
  - ansible --version

  # Create ansible.cfg with correct roles_path
  - printf '[defaults]\nroles_path=../' >ansible.cfg

  # Install required dependencies from galaxy
  ## will not work for private repos
  #- ansible-galaxy install -r requirements.yml

script:
  # Basic role syntax check
  - ansible-playbook tests/test.yml -i tests/inventory --syntax-check --list-tasks
  # Run the role
  - ansible-playbook -i tests/inventory tests/test.yml --connection=local
...
