---
- name: create file
  template:
    src: script.sh
    dest: "{{ profile_path }}/{{ dest }}"

- name: add environment variables
  lineinfile:
    dest: "{{ profile_path }}/{{ dest }}"
    line: "export {{ item.name }}=\"{{ item.value }}\""
  with_items: "{{ environment_variables }}"
...