---
- name: create file
  template:
    src: script.sh
    dest: "{{ profile_path }}/{{ dest }}"

- name: add environment variables
  lineinfile:
    dest: "{{ profile_path }}/{{ item.name }}"
    line: "export {{ item.name }}=\"{{ item.value }}\""
  with_items:
    - {name: 'test', value: 'example'}
...